@import url(<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>); 

* {
    margin: 0;
    padding: 0;  
  }
  body {
    background-color: white;

  }
  footer small{
    font-size: 8px;
  }
  header,article,footer{
    font-family: 'Special Elite', cursive;
    margin-left: auto;
    margin-right: auto;
  }
article{
	  width: 800px;
    background: ivory;
    color: gray;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 0;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
  }
  p{
    text-align: center;
  }