@import url(https://fonts.googleapis.com/css?family=Delius|Delius+Swash+Caps|Coming+Soon|Averia+Sans+Libre);
/*
#EBEDC8 ivory
#9AB5C1   gray
#74698C   紅いも
#C1867B   brown
*/ 
  * {
    margin: 0;
    padding: 0;  
  }
  body {
    background-image: white;
  }
  footer small{
	  font-size: 8px;
  }
  header,article,footer{
    font-family: 'Averia Sans Libre', cursive;
    margin-left: auto;
    margin-right: auto;
  }
  article,footer{
  }
  header{
	  
    width: 100%;
    background-color: #203744;
    color: #EBEDC8;
    box-shadow: 1px 1px 1px gray;
  }
  #header-inner{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  header nav{
    float: right;
    padding-top: .5em;
  }
  header nav ul{
    list-style-type: none;
    font-size: 0;
  }
  header nav ul li{
    display: inline-block;
    border-right: 1px solid ivory;
    font-size: 16px;
    padding: 0 5px;

  }
  header nav ul li:first-child {
    border-left: 1px solid ivory;
  }
  header nav ul li a{
    text-decoration: none;
    color: #EBEDC8;
  }
  header nav ul li a:hover{
    text-decoration: underline;
  }
  header h1{
    font-family: 'Averia Sans Libre', cursive;
    text-shadow: 1px 1px 1px ivory;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
  article{
	  width: 800px;
    background: #EBEDC8;
    color: gray;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 0;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
  }
  article h1{
    margin: 20px;
  }
  article p{
    margin: 0 20px;
  }
  article img{
    max-width: 300px;
    float: right;
    margin: 0 20px;
  }
  #top {
    height: 400px;
    overflow: hidden;
    position: relative;
    background-image: url(images/top.jpg);
    background-size: cover;
    background-position: 0 -50px;
  }
  #article-1 h2{
    margin: 0 20px;
  }
  #top h1 {
    text-align: center;
    margin-top: 13%;
    font-family: 'Averia Sans Libre', cursive;
    text-shadow: 1px 1px 1px ivory;
    font-size: 72px;
  }
  #contents{
    width: 800px;
    margin: 24px auto;
  }
  #access table{
    padding: 20px;
  }
  #access table th{
    width: 30%;
  }
  #access table tr th,
  #access table tr td{
    border-bottom: 1px solid #C1867B;
    padding: 10px 0;
  }
  #inquiry form table{
    margin-left: 30px;
  }
  #inquiry form table .buttons{
    text-align: center;
  }
  footer{
  	font-family: 'Averia Sans Libre', cursive;
    width: 800px;
  	text-align: center;
  }